<h1>About Blocopedia</h1>
<p>Blocopedia is an application that allows users to create public and private Markdown-based wikis.</p>
<p>Wikis are a great way to collaborate on community-sourced content. Whether the wiki is for a hobby or work-related project, you will build an app that lets users create their own wikis and share them publicly or privately with other collaborators.</p>
